
/*
html
{
    overflow: auto;
    background-color: #fff;
    font-size: 14px;
}
body
{
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
    color: #4d4e53;
    background-color: white;
}*/

#doc a, #doc a:visited, #doc a:active {
    color: #0095dd;
    text-decoration: none;
}

#doc a:hover {
    text-decoration: underline;
}

#doc header
{
    display: block;
    padding: 0px 4px;
}

#doc tt, #doc code, #doc kbd, #doc samp {
    font-family: Consolas, Monaco, 'Andale Mono', monospace;
}

#doc .class-description {
    font-size: 130%;
    line-height: 140%;
    margin-bottom: 1em;
    margin-top: 1em;
}

#doc .class-description:empty {
    margin: 0;
}

#main {
    float: left;
    width: 70%;
}

#doc article dl {
    margin-bottom: 40px;
}

#doc section
{
    display: block;
    background-color: #fff;
    padding: 12px 24px;
    border-bottom: 1px solid #ccc;
    margin-right: 30px;
}

#doc .variation {
    display: none;
}

#doc .signature-attributes {
    font-size: 60%;
    color: #aaa;
    font-style: italic;
    font-weight: lighter;
}

#doc nav
{
    display: block;
    float: right;
    margin-top: 28px;
    width: 30%;
    box-sizing: border-box;
    border-left: 1px solid #ccc;
    padding-left: 16px;
}

#doc nav ul {
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', arial, sans-serif;
    font-size: 100%;
    line-height: 17px;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

#doc nav ul a, #doc nav ul a:visited, #doc nav ul a:active {
    font-family: Consolas, Monaco, 'Andale Mono', monospace;
    line-height: 18px;
    color: #4D4E53;
}

#doc nav h3 {
    margin-top: 12px;
}

#doc nav li {
    margin-top: 6px;
}

#doc footer {
    display: block;
    padding: 6px;
    margin-top: 12px;
    font-style: italic;
    font-size: 90%;
}

#doc h1, #doc h2, #doc h3, #doc h4 {
    font-weight: 200;
    margin: 0;
}

#doc h1
{
    font-family: 'Open Sans Light', sans-serif;
    font-size: 48px;
    letter-spacing: -2px;
    margin: 12px 24px 20px;
}

#doc h2, #doc h3
{
    font-size: 30px;
    font-weight: 700;
    letter-spacing: -1px;
    margin-bottom: 12px;
}

#doc h4
{
    font-size: 18px;
    letter-spacing: -0.33px;
    margin-bottom: 12px;
    color: #4d4e53;
}

#doc h5, #doc .container-overview .subsection-title
{
    font-size: 120%;
    font-weight: bold;
    letter-spacing: -0.01em;
    margin: 8px 0 3px 0;
}

#doc h6
{
    font-size: 100%;
    letter-spacing: -0.01em;
    margin: 6px 0 3px 0;
    font-style: italic;
}

#doc .ancestors { color: #999; }
#doc .ancestors a
{
    color: #999 !important;
    text-decoration: none;
}

#doc .clear
{
    clear: both;
}

#doc .important
{
    font-weight: bold;
    color: #950B02;
}

#doc .yes-def {
    text-indent: -1000px;
}

#doc .type-signature {
    color: #aaa;
}

#doc .name, #doc .signature {
    font-family: Consolas, Monaco, 'Andale Mono', monospace;
}

#doc .details { margin-top: 14px; border-left: 2px solid #DDD; }
#doc .details dt { width: 120px; float: left; padding-left: 10px;  padding-top: 6px; }
#doc .details dd { margin-left: 70px; }
#doc .details ul { margin: 0; }
#doc .details ul { list-style-type: none; }
#doc .details li { margin-left: 30px; padding-top: 6px; }
#doc .details pre.prettyprint { margin: 0 }
#doc .details .object-value { padding-top: 0; }

#doc .description {
    margin-bottom: 1em;
    margin-top: 1em;
}

#doc .code-caption
{
    font-style: italic;
    font-size: 107%;
    margin: 0;
}

#doc .prettyprint
{
    border: 1px solid #ddd;
    width: 80%;
    overflow: auto;
}

#doc .prettyprint.source {
    width: inherit;
}

#doc .prettyprint code
{
    font-size: 100%;
    line-height: 18px;
    display: block;
    padding: 4px 12px;
    margin: 0;
    background-color: #fff;
    color: #4D4E53;
}

#doc .prettyprint code span.line
{
  display: inline-block;
}

#doc .prettyprint.linenums
{
  padding-left: 70px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#doc .prettyprint.linenums ol
{
  padding-left: 0;
}

#doc .prettyprint.linenums li
{
  border-left: 3px #ddd solid;
}

#doc .prettyprint.linenums li.selected,
#doc .prettyprint.linenums li.selected *
{
  background-color: lightyellow;
}

#doc .prettyprint.linenums li *
{
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

#doc .params, #doc .props
{
    border-spacing: 0;
    border: 0;
    border-collapse: collapse;
}

#doc .params .name, #doc .props .name, #doc .name code {
    color: #4D4E53;
    font-family: Consolas, Monaco, 'Andale Mono', monospace;
    font-size: 100%;
}

#doc .params td, #doc .params th, #doc .props td, #doc .props th
{
    border: 1px solid #ddd;
    margin: 0px;
    text-align: left;
    vertical-align: top;
    padding: 4px 6px;
    display: table-cell;
}

#doc .params thead tr, #doc .props thead tr
{
    background-color: #ddd;
    font-weight: bold;
}

#doc .params .params thead tr, #doc .props .props thead tr
{
    background-color: #fff;
    font-weight: bold;
}

#doc .params th, #doc .props th { border-right: 1px solid #aaa; }
#doc .params thead .last, #doc .props thead .last { border-right: 1px solid #ddd; }

#doc .params td.description > #doc p:first-child,
#doc .props td.description > #doc p:first-child
{
    margin-top: 0;
    padding-top: 0;
}

#doc .params td.description > #doc p:last-child,
#doc .props td.description > #doc p:last-child
{
    margin-bottom: 0;
    padding-bottom: 0;
}

#doc .disabled {
    color: #454545;
}
